<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      @if(!isSuccessful) {
      <form (ngSubmit)="onSubmit()" novalidate>
        <h4 class="text-center mb-4">Change Password</h4>
        <div class="mb-3">
          <label>Email</label>
          <input type="email" class="form-control"
                 [(ngModel)]="form.email" name="email"
                 [ngClass]="{'is-invalid': fieldErrors.email}">
          @if(fieldErrors.email){
            <div class="invalid-feedback">
              {{fieldErrors.email}}
            </div>
          }
        </div>
        <div class="mb-3">
          <label>Existing Password</label>
          <input type="password" class="form-control"
                 [(ngModel)]="form.existingPassword" name="existingPassword"
                 [ngClass]="{'is-invalid': fieldErrors.existingPassword}">
          @if(fieldErrors.existingPassword){
            <div class="invalid-feedback">
              {{fieldErrors.existingPassword}}
            </div>
          }
        </div>
        <div class="mb-4">
          <label>New Password</label>
          <input type="password" class="form-control"
                 [(ngModel)]="form.newPassword" name="newPassword"
                 [ngClass]="{'is-invalid': fieldErrors.newPassword}">
          @if(fieldErrors.newPassword){
            <div class="invalid-feedback">
              {{fieldErrors.newPassword}}
            </div>
          }
        </div>
        <button class="btn btn-primary w-100">Change Password</button>
      </form>
      }
      @else{
        <div class="alert alert-success text-center">
          Password changed successfully!
        </div>
      }
      @if(serviceError){
        <div class="alert alert-danger text-center mt-3">
          {{serviceError}}
        </div>
      }
    </div>
  </div>
</div>
