<form (ngSubmit)="onSubmit()" #f="ngForm" style="max-width:300px;margin:60px auto">
  <div style="margin-bottom:14px">
    <label>Email</label>
    <input type="email" name="email" [(ngModel)]="changePasswordForm.email"
      required style="width:100%;" />
  </div>
  <div style="margin-bottom:14px">
    <label>Existing Password</label>
    <input type="password" name="existingPassword" [(ngModel)]="changePasswordForm.existingPassword"
      required style="width:100%" />
  </div>
  <div style="margin-bottom:14px">
    <label>New Password</label>
    <input type="password" name="newPassword" [(ngModel)]="changePasswordForm.newPassword"
      required style="width:100%" />
  </div>
  <button type="submit" [disabled]="f.invalid"
    style="width:100%">
    Change Password
  </button>
</form>
<div style="text-align:center;margin-top:15px">
    <div *ngIf="!isPasswordNotChanged">
    {{response}}
    </div >
    <div *ngIf="errorMessage">
    {{errorMessage}}
    </div>
</div>